<button type="button" class="btn btn-info" (click)="show = !show">{{ show ? 'Close' : 'Open' }} the Chord Table</button>
<table class="table" *ngIf="show">
  <thead>
    <tr>
      <th>
        <button type="button"
          class="btn btn-{{ chordsList.isActive(null, null) ? '' : 'outline-' }}secondary btn-sm"
          (click)="toggle(null, null)">All</button>
      </th>
      <th *ngFor="let c of chordsList.chords">
        <button type="button"
          class="btn btn-{{ chordsList.isActive(null, c) ? '' : 'outline-' }}secondary btn-sm"
          (click)="toggle(null, c)">{{ c }}</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of chordsList.notes">
      <th>
        <button type="button"
          class="btn btn-{{ chordsList.isActive(n, null) ? '' : 'outline-' }}secondary btn-sm"
          (click)="toggle(n, null)">{{ n }}</button>
      </th>
      <td *ngFor="let c of chordsList.chords">
        <button type="button"
          class="btn btn-{{ chordsList.isActive(n, c) ? '' : 'outline-' }}secondary btn-sm"
          (click)="toggle(n, c)">
          <strong>{{ n }}</strong>{{ c }}</button>
      </td>
    </tr>
  </tbody>
</table>
