<div class="container">
  <h1>
    Welcome to Voicing-Drill!
  </h1>
  <app-chords-table></app-chords-table>

  <router-outlet></router-outlet>

  <div class="form-group">
    <label for="interval">Interval (in seconds)</label>
    <input id="interval" class="form-control"
        type="number" min="1" [value]="repeat_interval"
        (change)="onRepeatIntervalChanged($event.target.value)">
  </div>
  <button type="button" class="btn btn-primary" (click)="onButtonClicked()">{{ button_label }}</button>
</div>
